body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.name{
    color: blue;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half img{
    width: 100%;
}